.selectTimer >*{
    display: inline-block;
    width: 33%;
}
 .selectTimer button {
    padding: 20px 40%;
 }

 .clock{
     position: relative;
     text-align: center;
     
 }

 .actionButtons >*{
    display: inline-block;
    width:15%;
    height: 100px;
    text-align: center;
    align-content: center;
    justify-content: center;
 }
 .actionButtons{
     margin-left: 35%;
     padding-top: 5%;
     display: none;
 }
 #selectChecker{
     display: none;
     visibility: hidden;
 }

 
.btn {
    border: 2px solid lightgray;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}
.btn:hover {
    opacity: 0.6;
    color: white;
}
.btn0{
    background-color: steelblue;
    height: 100px;
}

 .start{
     background-color: green;
     color: white;
 }
 .stop{
    background-color: red;
    color: white;
 }
 
 #clockCounter{
    font-size: 6em;
 }

 @media screen and (max-width:1100px){
     .selectTimer button{
         padding: 20px 30%;
     }
     .actionButtons >*{
        padding-right: 20px;
     }
    
}
@media screen and (max-width:810px){
    .selectTimer button{
        padding: 10px;
        width: 32%;
    }
    .selectTimer >*{
        display: inline;
    }
    .actionButtons >*{
        display: block;
        width:100%;
        height: 70px;
        text-align: center;
        align-content: center;
        justify-content: center;
     }
     .actionButtons{
        margin-left: 0;
        padding-top: 5%;
        display: none;
    }
}

